body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: #ddfa3c;
  }

  h1
  {
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    background-color: #8400ff;
  }







  /* button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #357ae8;
  } */