body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f1e20f;
  }







  /* button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #357ae8;
  } */